## Lists and Tuples

A. The difference between python lists and tuples
Lists are collections of data … more often homogenous or of more limited ranges of types. 
The notion of tuple as a “record type” … sort of a lightweight object with attributes but no methods 
The difference between list and tuple is that lists are mutable and tuples are immutable.

Show how to use them in:

1) if statements

2) for loops

3) lambdas

be sure to demonstrate mutablity or immuability and issues that can be created

### Create Python Lists
Lists are used for collection of objects and contain zero or more objects. Generally lists are used to store homogenous sequence of data. Lists are mutable. <br>
Consider a list of Dog Breeds

In [10]:
Dog_Breeds = ['Beagle','Bull Dog','Labrador','Retriever','German Shepherd']
Dog_Breeds

['Beagle', 'Bull Dog', 'Labrador', 'Retriever', 'German Shepherd']

Lists can be refered by their indexes. 0 to (length of list -1) forward and -1 to length of list backward.

In [11]:
#Accessing elements left to right
print(Dog_Breeds[0])
print(Dog_Breeds[4])

#Accessing elements from back
print(Dog_Breeds[-1])
print(Dog_Breeds[-5])

Beagle
German Shepherd
German Shepherd
Beagle

Trying to access out-of-range List index results in an error

In [12]:
#Dog_Breeds[5]
Dog_Breeds[-6]

IndexError: list index out of range

### Modify List
Lists are mutable i.e., they can be changed.
We can change element at a particular index, add new items to list.

In [15]:
Dog_Breeds[1] = 'Great Dane'
Dog_Breeds.append('Poodle')
Dog_Breeds

['Beagle', 'Great Dane', 'Labrador', 'Retriever', 'German Shepherd', 'Poodle']

### List Functions

In [3]:
ratings = [5,3,1,0,2]
len(ratings)    #Gives the length of list

5

In [4]:
max(ratings)  #Gives the maximum value of list

5

In [5]:
min(ratings)   #Gives the minimum value of list

0

In [24]:
sum(ratings   #Gives the sum of all the values of list

11

In [25]:
sorted(ratings)  #Sorts the list

[0, 1, 2, 3, 5]

### Slicing Lists

We can produce a new list from an existing list by slicing it.

In [26]:
Some_Breeds = Dog_Breeds[3:5]
Some_Breeds

['Retriever', 'German Shepherd']

### List of lists

Following is lists of children and their ages. Each of the list can be accesses as an item of the list.
Since each item is also a list, we can index them again.

In [29]:
Age = [['Tom',8],['Kyle','5'],['Chris',7]]
#Age
Child2 = Age[1]
print(Child2)
print(Age[1][0])
print(Age[1][1])

['Kyle', '5']
Kyle
5

### Tuples

Tuple is another sequence type used to store data in Python.
Tuples are generally used to store heterogenous sequence of data.
Unlike lists, tuples are immutable i.e., they cannot be changed.

In [33]:
life_expectancy = ('USA',75.5)
life_expectancy

('USA', 75.5)

Tuples can be accessed with index like lists.
0 to (length of tuple - 1) forward
-1 to length of tuple backward

In [35]:
print(life_expectancy[0])
print(life_expectancy[1])
print(life_expectancy[-1])
print(life_expectancy[-2])

USA
75.5
75.5
USA

Trying to access out of range tuple indexes throws error

In [37]:
#print(life_expectancy[2])
print(life_expectancy[-3])

IndexError: tuple index out of range

Tuples are immutable i.e., we cannot add elements to or change existing elements of tuples

In [40]:
#life_expectancy[1] = 80.0
life_expectancy.append('India',72)

AttributeError: 'tuple' object has no attribute 'append'

**namedtuple()** from cllections library can be used to add more meaning to tuple like a struct in C

In [43]:
from collections import namedtuple
State = namedtuple("State", "Name, abbreviation")
pa = State("Pennsylvania", "PA")
pa.Name

'Pennsylvania'

Tuple can be a tuple of tuples. Each element of tuple is a tuple. 
Each element can again be indexed as it is a tuple.

In [48]:
life = (('USA',75.5),('Canada',75),('India',70))
print(life)
print(life[2])
print(life[2][0])
print(life[2][1])

(('USA', 75.5), ('Canada', 75), ('India', 70))
('India', 70)
India
70

Since each element in turn is a tuple, they can't be changed.

In [49]:
#
life[2][1] = 80

TypeError: 'tuple' object does not support item assignment

If we consider a tuple of lists, althought tuple cannot be changed each element of tuple which is a list can be changed

In [6]:
life_exp = (['USA',75.5],['Canada',75],['India',72])
print(life_exp)
life_exp.append(['Mexico',72])              #Error as we trying to change a tuple

(['USA', 75.5], ['Canada', 75], ['India', 72])

AttributeError: 'tuple' object has no attribute 'append'

In [7]:
life_exp[2][1] = 80     #No error as we are changin an item of tuple which is mutable(list)
print(life_exp)

(['USA', 75.5], ['Canada', 75], ['India', 80])

Tuples can also be sliced like lists to create new tuples.

In [20]:
t_new = life_exp[0:1]
print(t_new)

(['USA', 75.5],)

### Lists in if statement
'in' construct is used to test if an element appears in a list or not.

In [53]:
print(Dog_Breeds)
if 'Retriever' in Dog_Breeds:
    print('Golden')

['Beagle', 'Great Dane', 'Labrador', 'Retriever', 'German Shepherd', 'Poodle']
Golden

We can iterate through a loop checking for a condition using if statements.

In [55]:
num_sqs = [0,1,5,9,15]
for i in range(len(num_sqs)):
    if num_sqs[i] == (i * i):
        print("square")
    else:
        print(num_sqs[i])

square
square
5
square
15

### Lists in for statement
for loop can be used to iterate over elements in a list.

In [56]:
for num in num_sqs:
    print(num)

0
1
5
9
15

empty lists can be used in  for loops to add elements or make new lists.

In [1]:
cubes = []
for i in range(5):
    cubes.append(i*i*i)
print(cubes)

[0, 1, 8, 27, 64]

We can build a list from scratch by filtering a sequence according to some condition.
For example, suppose we want a list of the cubes of the integers from 0 to 9 where the cube is greater than 15 and less than 100.

In [6]:
spl_cubes = []
for i in range(10):
     cube = i**3
     if cube > 15 and cube < 100:
         spl_cubes.append(cube)
print(spl_cubes)

[27, 64]

Tables can also be created as nested lists using for loop

In [5]:
cubes_tbl = [[i,(i*i*i)] for i in range(5)]
print(cubes_tbl)

[[0, 0], [1, 1], [2, 8], [3, 27], [4, 64]]

### Lists using lambda
Lambadas can also be used to create lists without overhead.

In [3]:
squares = list(map(lambda i: (i*i), range(5)))
print(squares)

[0, 1, 4, 9, 16]

We can also build list filtering a sequence according to some condition using lambda.
For example, suppose we want a list of the squares of the integers from 0 to 9 where the square is greater than 15 and less than 100.

In [9]:
squares = list(map(lambda x: x**2, range(10)))
print(squares)
spl_squares = list(filter(lambda x: x > 5 and x < 50, squares))
print(spl_squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[9, 16, 25, 36, 49]

Nested lists can also be created using lambda.

In [14]:
squares_tbl = list(map(lambda x: [x,x**2], range(5)))
print(squares_tbl)

[[0, 0], [1, 1], [2, 4], [3, 9], [4, 16]]

### Tuples in if statement

'in' keyword can be used to check if an element exists in a tuple.

In [30]:
vowels = ('a','e','i','o','u')
if 'i' in vowels:
    print('found')

found

### Tuples with for loop
For loop can be used to iterate over tuples

In [22]:
for country,life_expectancy in life_exp:
    print(country,life_expectancy)

USA 75.5
Canada 75
India 80

But we cannot use for loop to manipulate tuples as they are immutable

In [40]:
noble_gases = (('Helium',2),('Neon',10),('Argon',18),('Krypton',36),('Xenon',54),('Radon',86))
for g in noble_gases:
    g[1] = g[1] + 5

TypeError: 'tuple' object does not support item assignment

We can also use **enumerate()** to iterate over tuples.

In [46]:
for num,element in enumerate(noble_gases):
    print(num,element)

0 ('Helium', 2)
1 ('Neon', 10)
2 ('Argon', 18)
3 ('Krypton', 36)
4 ('Xenon', 54)
5 ('Radon', 86)

If the elements in a tuple are mutable like list then we can change the elements of tuple.

In [53]:
print(life_exp)
for num,item in enumerate(life_exp):
    item[1] = 10
print(life_exp)

(['USA', 75.5], ['Canada', 75], ['India', 72])
(['USA', 10], ['Canada', 10], ['India', 10])

### Tuples with lambda
we can use lambda to create tuples

In [54]:
sqr_t = tuple(map(lambda x: x**2, range(10)))
print(sqr_t)

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

we can create new tuples filtering elements from existing tuples based on some condition

In [72]:
spl_sqr_t = tuple(filter(lambda x: x > 5 and x < 50, sqr_t))
print(spl_sqr_t)

(9, 16, 25, 36, 49)

In [71]:
print(spl_sqr_t)
spl_sqr_t = tuple(map(lambda y: y*y, spl_sqr_t))
print(spl_sqr_t)

(1, 1, 1, 1, 1)
(1, 1, 1, 1, 1)

### Referenes
Mastering Python by Rick Van Hattem <br>
The Pragmatic Programmer's Practical Programming <br>
https://nedbatchelder.com/blog/201608/lists_vs_tuples.html <br>
https://developers.google.com/edu/python/ <br>
https://docs.python.org/3/tutorial/datastructures.html <br>